*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(backgroundimg.png);
    background-size: cover;
    background-position: center;

}
.container{
    padding: 10px 10%;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
    list-style-type: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: lightcoral;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    
}
nav ul li a:hover{
    color: lightcoral;
    text-shadow: 0 0 10px #d82889,
                 0 0 20px #d82889,
                 0 0 30px #d82889,
                 0 0 40px #d82889;
}
nav ul li a:hover::after{
    width: 100%;
    
}
.header-text{
    margin-top: 20%;
    font-size: 30px;

}
.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}
.header-text span{
    color: lightcoral;
}
/*  about */
#about{
    padding: 80px 0;
    color: gray;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col1{
    flex-basis: 35%;
}
.col1 img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
}
.col2{
    flex-basis: 50%;

}
.subTitle{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #d82889;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-l::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #d82889;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active{
    display: block;
}
/* portfolio */
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.work:hover img{
    transform: scale(1.2);
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #d82889);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 35px;
    text-align: center;
    font-size: 15px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 600;
    margin-bottom: 25px;
    color: black;
    font-family: cursive;
}
.link{
    margin-top: 20px;
    color: black;
    text-decoration: none;
}
.link:hover{
     text-shadow: 0 0 10px #6ecdef,
                 0 0 20px #6ecdef,
                 0 0 30px #6ecdef,
                 0 0 40px #6ecdef;
}
.work:hover .layer{
    height: 100%;

}
/* contact details */
.contact1{
    flex-basis: 35%;
}
.contact2{
    flex-basis: 60%;
}
.contact1 p{
    margin-top: 30px;
    color: #d82889;

}
.contact1 p i{
    color: lightcoral;
    margin-right: 15px;
    font-size: 20px;
}
.SMedia{
    margin-top: 30px;
}
.SMedia a{
    text-decoration: none;
    font-size: 25px;
    margin-right: 15px;
    color: lightcoral;
    display: inline-block;
    transition: transform 0.5s;
}
.SMedia a:hover{
    color: #d82889;
    transform: translateY(-5px);
}
.btn{
    display: inline-block;
    background: #d82889;
    border-color: #d82889;
    padding: 14px 60px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}
.btn:hover{
    transform: translateY(-5px);
    background-color:lightcoral;
}
.contact2 form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: darkslategrey;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    background: darkslategrey;
}
.copyright i{
    color: red;
}
nav .fa-solid{
    display: none;
}
html{
    scroll-behavior: smooth;
}
/* CSS to make it responsive */
@media only screen and (max-width: 600px){
    #header{
        background-image: url(mbackground.jpg);
    }
    .header-text{
        margin-top: 100%;
        font-size: 15px;
    }
    .header-text h1{
        font-size: 25px;
    }
    nav .fa-solid{
    display: block;
    font-size: 25px;
    }
    nav ul{
        background: #d82889;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .subTitle{
        font-size: 36px;
    }
    .col1 ,.col2{
        flex-basis: 100%;
    }
    .col1{
        margin-bottom: 30px;
    }
    .col2{
        font-size: 10px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact1 ,.contact2{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}